@use '@/app/base';

.bio {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	padding: 100px 0;
}

.imageContainer {
	padding-top: 2rem;
	padding-left: 2rem;
	position: relative;
}

.image {
	position: relative;
	aspect-ratio: 0.7/1;
	width: 100%;
	border-radius: 10px;
}

.border {
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	aspect-ratio: 0.7/1;
	border: 2px dashed base.$highlight;
}

.info {
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.titleContainer {
	hr {
		width: 5rem;
		border-top: 2px dashed base.$highlight;
		margin: 1.5rem 0;
	}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.imageContainer {
		padding: 0;
	}

	.border {
		display: none;
	}

	.bio {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}
