@use '@/app/base';

.footer {
	background-color: base.$title;
}

.basicInfo {
	padding: 1.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

@media screen and (max-width: 768px) {
	.basicInfo {
		flex-direction: column-reverse;
		gap: 0.5rem;
	}
}
